.posts-title .posts-title--left {
    padding-top: 75px;
}

.posts-title .posts-title--left p {
    font-size: 16px;
    color: #373737;
}

.posts-title .posts-title--right {
    text-align: right;
}

.introduct-top {
    text-align: center;
    padding: 0px 80px;
}

.introduct-top .introduct-top--title p {
    font-size: 48px;
    font-family: "Lato Light", sans-serif;
    color: #4e4e4e;
    margin-top: 15px;
    margin-bottom: 110px;
}

.introduct-top .introduct-top--bot p:first-child,
.introduct-bottom .introduct-bottom--top p:first-child
 {
    font-size: 48px;
    font-family: "Lato Light", sans-serif;
    color: #373737;
    margin-top: 152px;
    margin-bottom: 40px;
}

.introduct-top .introduct-top--bot p:last-child,
.introduct-bottom .introduct-bottom--top p:last-child
 {
    font-size: 16px;
    color: #373737;
}

.introduct-main {
    background: url('../../assets/images/introduct/intro-bottom.jpg') no-repeat;
    background-size: cover;
    min-height: 730px;
    padding: 200px 29%;
    margin-top: 150px;
}
.introduct-main img{
    margin-right: 5px;
}
.introduct-main .introduct--block{
  padding: 50px 90px;
  background: #fff;
  text-align: center;
}
.introduct-main .introduct--block p:first-child{
    font-size: 48px;
    color: #373737;
    font-family: "Lato Light", sans-serif;
    margin-bottom: 50px;
}
.introduct-main .introduct--block p:last-child{
    font-size: 16px;
    font-family: "Lato Light", sans-serif;
    color: #373737;
}
.introduct-bottom--top{
    text-align: center;
}
.introduct-bottom--main{
    text-align: center;
    margin-top: 70px;
}


.introduct-bottom--bottom{
    text-align: center;
   padding: 105px 300px;
}
.introduct-bottom--bottom p:first-child{
    font-size: 36px;
    font-family: "Lato Light", sans-serif;
    color: #262424;
    margin-bottom: 25px;
}
.introduct-bottom--bottom p:last-child{
    color: #4e4e4e;
    font-size: 16px;
}