.partner-box .partner-box__list {
    
    max-width: 90%;
    margin: 0 auto;
}

.partner-box .partner-box--item {
    text-align: center;
  
   
}
.partner-box .partner-box--item img{
    display: block;

}
