.contact-box .contact-box--item {
    padding: 0;
}
.contact-box .contact-box--item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.contact-box .contact-box--form {
    background: var(--primary-color);
    height: 100%;
    color: #fff;
    padding: 30px 45px;
}
.contact-box .contact-box--form .section-title {
    color: #fff;
    font-size: 34px;
    font-family: "Lato Light", sans-serif;
    font-weight: normal;
    padding-top: 0;
}
.fiel_input input{
    color: black;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 7px;
}

.fiel_input input:focus{
    border: #00C38E;
}
.contact-box .contact-box--form button {
    color: #fff;
    display: block;
    background: #242424;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
    cursor: pointer;
    margin-right: 5px;
}

.contact-box .contact-box--form button:hover {
    background: var(--secondary-color);
}

.contact-box--form .contact-box--form__hotline span {
    color: #fff !important;
}

.contact-box--form .contact-box--form__hotline span:first-child {
    font-size: 15px;
}

.contact-box--form .contact-box--form__hotline span:last-child {
    font-size: 18px;
}

.contact-box--form .contact-box--form__hotline::before {
    background: url('../../assets/images/hotline-icon-contact.png') no-repeat;
    background-size: 35px 40px;
}

.contact-box--form .contact-box--form--button-wrap {
    padding-top: 10px;
}
