 .why-us__item {
    padding-right: 100px;
}

.why-us__item h3 {
    color: #0f0f0f;
    font-size: 16px;
    font-family: "Lato Bold", sans-serif;
    text-transform: uppercase;
    padding: 20px 0px;
}

.why-us__item p {
    text-align: justify;
}
